.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 14px 40px;

  background: #272727;
  border-bottom: 1px solid #2c2c2c;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.h-left,
.h-right {
  display: flex;
  gap: 14px;
}

.header button {
  padding: 8px 18px;
  border-radius: 999px;

  background: transparent;
  border: 1px solid #3a3a3a;

  color: #e0e0e0;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.25s ease;
}

.header button:hover {
  background: #00ff88;
  color: #0f0f0f;
  border-color: #00ff88;
}

.h-left button:first-child {
  background: #00ff88;
  color: #0f0f0f;
  border-color: #00ff88;
}

.h-right button {
  border-color: #00ff88;
  color: #00ff88;
}

.h-right button:hover {
  background: #00ff88;
  color: #0f0f0f;
}