.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    padding: 12px 25px;
    margin-right: 10px;
    background-color: #fff;
    border-bottom: 1px solid #b6b2b2;
}

.h-left,
.h-right {
  display: flex;
  gap: 12px;
}

.h-left{ 
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 10px;
}

.h-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header button {
    padding: 8px 16px;
    border-radius: 200px;   
    border-color: white;
    border: 1px solid #e53935;
    
    background: transparent;
    color: #e53935;
   
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease;
}

.header button:hover {
  background-color: #e53935;
  color: white;
}