/* .main-picture {
  min-height: 100vh;

  background-image: url('/black-image-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0;
} */

.product-card {
  width: 380px;

  background: rgba(255,255,255,0.04);

  border-radius: 14px;
  overflow: hidden;

  transition: 0.3s;

  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-4px);

  background: rgba(255,255,255,0.06);
}

.product-image {
  height: 220px;

  background: rgba(255,255,255,0.05);
}

.product-info {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  color: white;

  flex: 1;
}

.product-info h2 {
  color: #00ff99;
}

.product-description {
  color: #aaa;
  line-height: 1.5;

  min-height: 50px;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
}

.price {
  font-size: 22px;
  font-weight: bold;

  color: white;
}

.product-bottom button {
  background: #00ff99;
  color: black;

  border: none;
  border-radius: 10px;

  padding: 10px 16px;

  cursor: pointer;
  font-weight: 600;

  transition: 0.3s;
}

.product-bottom button:hover {
  background: #00cc77;
}