.main-picture {
  min-height: 100vh;

  background-image: url('/black-image-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0;
}