.main-picture {
    height: 800px;
    background-image: url('/black.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 70px;
    width: 100%;
}

.card-t {
    background: rgba(15, 15, 15, 0.95);
    padding: 30px;
    border-radius: 16px;

    color: white;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.card-t-right {
    background: linear-gradient(135deg, #00c97b, #00a86b, #008f5a);
    padding: 30px;
    border-radius: 16px;

    color: #ffffff;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.left-text,
.right-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 420px;
    min-height: 600px;
}

.left-text h2 {
    color: #00ff99;
    font-size: 26px;
    font-weight: 600;
}

.right-text h2 {
    color: #26312a;
    font-size: 24px;
    font-weight: 600;
}

.result-text {
    display: flex;
    flex-direction: column;

    gap: 18px;
    margin-top: 10px;
}

.result-text p {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    padding-bottom: 6px;
}

.result-text strong {
    color: #aaa;
    font-weight: 400;
}

.result-text-right {
    display: flex;
    flex-direction: column;

    gap: 2px;
    margin-top: -55px;
}

.result-text-right p {
    background: rgba(0, 0, 0, 0.25);
    padding: 14px 16px;
    border-radius: 10px;

    font-size: 15px;
    line-height: 1.6;
    color: #eafff5;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: 0.3s;
}

.result-text-right p:hover {
    background: rgba(0, 0, 0, 0.4);
    transform: translateX(4px);
}

.description {
    margin-top: 30px;
    color: #aaa;
    font-size: 14px;
    line-height: 1.5;
}

.actions {
    margin-top: auto;
    display: flex;
    gap: 12px;
    margin-top: 30px;
}

.btn {
    flex: 1;
    padding: 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn.cancel {
    background: #3a3a3a;
    color: white;
}

.btn.cancel:hover {
    background: #555;
    transform: translateY(-2px);
}

.btn.save {
    background: #00ff99;
    color: black;
}

.btn.save:hover {
    background: #00cc77;
    transform: translateY(-2px);
}